* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

[class*='col'] {
    height: 100px;
}


/* HEADER TOP */
header .top > * {
    height: 100px;
}

.logo {
    background-color: red;
}

.nav-menu {
    background-color: blue;
}

.log-in {
    background-color: green;
}


/* HEADER BOTTOM */
header .bottom > * {
    height: 300px;
}

.motto {
    background-color: pink;
}


/* MAIN TOP*/
main .top > * {
    height: 300px;
}

.img {
    background-color: yellow;
}

.learning-path {
    background-color: green;
}
