/* GENERAL SETTINGS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* HEADER TOP SECTION */
header .top > div {
    height: 100px;
    border: 2px solid black;
    background-color: blue;
}


/* HEADER BOTTOM SECTION */
header .bottom > div {
    height: 300px;
    border: 2px solid black;
    background-color: green;
}


/* MAIN TOP SECTION */
main .top > div {
    height: 300px;
    border: 2px solid black;
    background-color: yellow;
}


/* MAIN MIDDLE SECTION */
main .middle > div {
    height: 150px;
    border: 2px solid black;
    background-color: red;
}


/* MAIN BOTTOM SECTION*/
main .bottom > div {
    height: 200px;
    border: 2px solid black;
    background-color: lightblue;
}


/* FOOTER*/
footer .row > div {
    height: 200px;
    border: 2px solid black;
    background-color: pink;
}

footer .row .links > div {
    height: 100px;
    border: 2px solid black;
    
}
